<%-include('../layouts/header.ejs') %>


<div class="container col-lg-3 mt-5 border bg-light">
    <div class="row">
      <form action="" method="post">
        <h1>forget password</h1>
        <div class="form-outline mb-4">
          <input type="password" id="form2Example2" name="password" class="form-control" />
          <label class="form-label" for="form2Example2">Password</label>

          <input type="hidden" name="user_id" value="<%= user_id %>">
        </div>
        <!-- 2 column grid layout for inline styling -->
        
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4"  >reset password</button>
        <!-- Register buttons -->
        
        </div>
  
  
        <% if(typeof message !=='undefined') { %>
  
          <!-- <a href="#!" class="small text-muted"><%= message %></a> -->
  
          <div class="alert alert-danger text-center" role="alert">
           <strong><%= message %></strong> 
          </div>
  
          <%}%>
      </form>

      
    </div>
  </div>
  
  



<%-include('../layouts/footer.ejs') %>